body {
    background-color: white;
}

.fade {
    opacity: 0;
    transition: 1s opacity;
    background-color: white;
}

.panel-background {
    position: absolute;
    width: 100%;
    height: 139px;
    left: 0;
    top: 0;
    background-color: #001f3f;
    z-index: -1 !important;
}

.panel-accent {
    position: relative;
    width: 850px;
    height: 5px;
    background-color: red;
    top: 77px;
}

.top-panel {
    width: 1000px;
    height: 90px;
    margin: auto;
    background-color: #001f3f;
}

.top-panel-text {
    margin: auto;
    width: 1000px;
}

#top-panel-text-name {
    font-size: 60px;
    font-family: arial;
    color: white;
    text-shadow: 1px 1px grey;
}

#top-panel-text-county {
    position: relative;
    font-size: 24px;
    font-family: arial;
    color: white;
    text-shadow: 2px 2px black;
    float: right;
    right: 25px;
    top: 20px;
}

.navbar {
    margin: auto;
    width: 1000px;
    height: 41px;
    background-color: #001f3f;
}

.navbar ul {
    width: 1000px;
    margin: auto;
    font-family: arial;
}

.navbar li {
    border: 1px solid #001f3f;
    position: relative;
    float: left;
    right: 41px;
    list-style: none;
    background-color: white;
    color: #001f3f;
    width: 160px;
    height: 40px;
    text-align: center;
    margin: -1px;
}

.navbar #donate {   
    width: 200px;
    background-color: red;
    margin: -1px;
    color: white;
}

.navbar li p {
    margin: 10px;
}

.navbar .dropdown-content {
    display: none;
    position: relative;
    width: 1px;
    left: 480px;
    top: 1px;
    z-index: 1;
}

.navbar .dropdown-content li{
    width: 159px;
    height: 30px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.navbar .dropdown-content li p {
    margin: 7px;
    font-family: arial;
}

.navbar li:hover {
    background-color: #001f3f;
    color: white;
}

.navbar #active {
    background-color: #001f3f;
    color: white;
}

.opening-content {
    width: 1000px;
    margin: auto;
}

.welcome-message {
    position: relative;
    width: 450px;
    background-color: #001f3f;
    color: white;
    float: right;
    top: -625px;
    right: 25px;
    text-align: center;
}

.welcome-message h1 {
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 48px;
    text-shadow: 1px 1px gray;
}

.welcome-message h2 {
    margin-top: 0px;
    font-family: serif;
    
}

.welcome-message h3 {
    margin-top: 50px;
    font-family: serif;
    font-size: 28px;
}

.sign-up {
    position: relative;
    width: 30%;
    height: 350px;
    float: right;
    top: -375px;
    right: -425px;
    color: red;
}

.sign-up .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}

.sign-up h1 {
    color: red;
    text-align: center;
    font-size: 26px;
}

.sign-up form {
    position: absolute;
}

.sign-up input {
    width: 275px;
    height: 25px;
    margin: 3px 10px;
    border: none;
    font-family: arial;
    font-size: 16px;
}

.sign-up textarea {
    width: 271px;
    height: 100px;
    margin: 3px 10px;
    border: none;
    font-family: arial;
    font-size: 16px;
    resize: none;
}

.sign-up #button {
    float: right;
    width: 60px;
    background-color: red;
    color: white;
    font-family: arial;
    font-size: 18px;
    cursor: pointer;
}

.quick-links {
    width: 1000px;
    height: 200px;
    margin: auto;
}

.quick-links .volunteer {
    position: relative;
    border: 1px solid #001f3f;
    width: 328px;
    height: 200px;
}

.quick-links .stay-connected {
    position: relative;
    background-color: #001f3f;
    border: 1px solid #001f3f;
    width: 328px;
    height: 200px;
    left: 333px;
    top: -202px;
}

.quick-links .donate {
    position: relative;
    border: 1px solid #001f3f;
    width: 328px;
    height: 200px;
    left: 666px;
    top: -404px;
}